In [142]:
import pandas as pd
import numpy as np
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import pandas as pd
from datetime import datetime
from google.cloud import storage
import matplotlib.pyplot as plt

In [2]:
# Classes e funções necessáriaspara o funcionamento do código:
def verificacao_texto(data_frame, coluna, tamanho_texto: None, numeros: bool):
    '''
    Função para identificar problemas em colunas que contenham apenas letras e números
    '''
    problemas = []
    for i in range(len(data_frame)):
        texto = str(data_frame.loc[i, coluna])
        if numeros == False:
            if texto.isalpha() == False:
                problemas.append(data_frame.loc[i, coluna])
            elif tamanho_texto != None:
                if len(texto) != tamanho_texto:
                    problemas.append(data_frame.loc[i, coluna])
        elif numeros == True:
            if texto.isalnum() == False:
                problemas.append(data_frame.loc[i, coluna])
            elif tamanho_texto != None:
                if len(texto) != tamanho_texto:
                    problemas.append(data_frame.loc[i, coluna])
    # Imprimindo os problemas que deverão ser corrigidos:
    df_problemas = pd.DataFrame(problemas, columns=["corrigir"])
    df_problemas = pd.DataFrame(df_problemas.corrigir.unique(), columns=["Corrigir:"])

    if len(df_problemas) > 0:
        print(df_problemas)
    else:
        print("Nenhum problema detectado nesta coluna")
    print(f"Verificação da coluna {coluna} concluída")


def verificacao_tipo(data_frame, coluna, tipo: type):
    '''
    Função para verificar problemas relacionado ao tipo de dados que a coluna deve possuir
    '''
    problemas = []
    for i in range(len(data_frame)):
        try:
            tipo(data_frame.loc[i, coluna])
        except Exception:
            problemas.append(data_frame.loc[i, coluna])
    df_problemas = pd.DataFrame(problemas, columns=["corrigir"])
    df_problemas = pd.DataFrame(df_problemas.corrigir.unique(), columns=["Corrigir: "])
    print("--------------------------------------------------------------------")
    print(f"Verificando a coluna {coluna}: ")
    if len(df_problemas) > 0:
        print(df_problemas)
    else:
        print("Nenhum problema detectado nessa coluna")
    print(f"Verificação da coluna {coluna} concluída")
    return df_problemas


def verificacao_valor_padrao(data_frame, coluna):
    '''
    Função para identificar os valores únicos presentes em uma coluna, útil para caso de colunas que possuem valores padronizados, como por exemplo 'SIM' e 'NÃO'
    '''
    unicos = data_frame[coluna].unique()
    print("---------------------------------------------------------------------")
    print(f"Verificando valores únicos da coluna {coluna}: ")
    print(unicos)
    print("Verificação concluída")


def verificacao_data(data_frame, coluna, formato: str):
    '''
    Função para verificar se todos os valores de uma coluna correspondem a data do formato especificado
    '''
    problemas = []
    # Verificando se tratam-se de datas:
    for i in range(len(data_frame)):
        try:
            datetime.now() - datetime.strptime(data_frame.loc[i, coluna], formato)
        except Exception:
            if data_frame.loc[i, coluna] != 'NULO':
                problemas.append(data_frame.loc[i, coluna])
    df_problemas = pd.DataFrame(problemas, columns=["Corrigir:"])
    print("---------------------------------------------------------------------")
    print(f"Verificando a coluna {coluna}: ")
    if len(df_problemas) > 0:
        print(df_problemas)
    else:
        print("Não há nenhum problema para corrigir")
    print(f"Verificação da coluna {coluna} concluída! ")

class Conector_mysql:
    def __init__(self, host, user, password, db):
        self.host = host
        self.user = user
        self.password = password
        self.db = db
    
    def envia_mysql(self, dfs, table):
        self.dfs = dfs
        self.table = table
        self.dfs.write.format("jdbc")\
                .option('url', f'jdbc:mysql://{self.host}/{self.db}')\
                .option('driver', 'com.mysql.cj.jdbc.Driver')\
                .option("numPartitions", "10") \
                .option("user",self.user)\
                .option("password", self.password)\
                .option("dbtable", self.db + "." + self.table)\
                .mode("append").save()
    
    def ler_mysql(self, table, spark_conection):
        self.table = table
        self.spark_conection = spark_conection
        self.df = self.spark_conection.read.format("jdbc")\
            .option('url', f'jdbc:mysql://{self.host}/{self.db}')\
            .option('driver', 'com.mysql.cj.jdbc.Driver')\
            .option("user",self.user)\
            .option("password", self.password)\
            .option("dbtable", self.db + "." + self.table).load()
        return self.df

In [4]:
'''
Conectando com a SpakSession
'''

spark = ( SparkSession.builder
                        .master("local")
                        .appName("sparksql")
                        .config("spark.ui.port", "4050")
                        .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                        .getOrCreate()
        )

# Verificando inconsistências da DF Arrecadacao

In [5]:
# Conectando com o mySQL
conexao_mysql = Conector_mysql("34.72.50.43", "root", ">}Dzh.=}YhZ#(G>s", "original")

# Puxando os dados do MySQL
dfs_arrecadacao = conexao_mysql.ler_mysql('arrecadacao', spark)
dfs_barragens = conexao_mysql.ler_mysql('barragens', spark)
dfs_autuacao = conexao_mysql.ler_mysql('autuacao', spark)
dfs_beneficiada = conexao_mysql.ler_mysql('beneficiada', spark)
dfs_distribuicao = conexao_mysql.ler_mysql('distribuicao', spark)
dfs_municipio = conexao_mysql.ler_mysql('municipio', spark)
dfs_pib = conexao_mysql.ler_mysql('pib', spark)
dfs_dados_populacao = conexao_mysql.ler_mysql('dados_populacao', spark)

In [6]:
# Transformando DataFrame Arrecadação Spark em DataFrame Pandas
dfp_arrecadacao = dfs_arrecadacao.toPandas()

In [7]:
# Analisando dados
dfp_arrecadacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657294 entries, 0 to 1657293
Data columns (total 13 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   index                     1657294 non-null  int64
 1   Ano                       1657294 non-null  int32
 2   Mês                       1657294 non-null  int32
 3   Processo                  1552074 non-null  float64
 4   AnoDoProcesso             1552074 non-null  float64
 5   Tipo_PF_PJ                1657294 non-null  object
 6   CPF_CNPJ                  1657208 non-null  object
 7   Substância                1657294 non-null  object
 8   UF                        1655722 non-null  object
 9   Município                 1655722 non-null  object
 10  QuantidadeComercializada  1642254 non-null  object
 11  UnidadeDeMedida           1656589 non-null  object
 12  ValorRecolhido            1657294 non-null  object
dtypes: float64(2), int32(2), int64(1), object(8)
memory usage: 151.7+ MB

In [8]:
dfp_arrecadacao.isna().sum()

index                            0
Ano                              0
Mês                              0
Processo                    105220
AnoDoProcesso               105220
Tipo_PF_PJ                       0
CPF_CNPJ                        86
Substância                       0
UF                            1572
Município                     1572
QuantidadeComercializada     15040
UnidadeDeMedida                705
ValorRecolhido                   0
dtype: int64

In [9]:
dfp_arrecadacao.duplicated().sum()

0

In [10]:
dfp_arrecadacao.Ano.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int32)

In [11]:
dfp_arrecadacao.Mês.unique()

array([ 8,  5,  6,  7,  9, 10, 11, 12,  1,  2,  3,  4], dtype=int32)

In [12]:
verificacao_tipo(dfp_arrecadacao, 'Processo', int)
verificacao_texto(dfp_arrecadacao, 'Tipo_PF_PJ', None, False)
verificacao_valor_padrao(dfp_arrecadacao, 'Substância')
verificacao_valor_padrao(dfp_arrecadacao, 'UF')
verificacao_valor_padrao(dfp_arrecadacao, 'Município')
verificacao_valor_padrao(dfp_arrecadacao, 'QuantidadeComercializada')
verificacao_valor_padrao(dfp_arrecadacao, 'QuantidadeComercializada')
verificacao_valor_padrao(dfp_arrecadacao, 'UnidadeDeMedida')
verificacao_valor_padrao(dfp_arrecadacao, 'ValorRecolhido')

--------------------------------------------------------------------
Verificando a coluna Processo:
   Corrigir:
0         NaN
Verificação da coluna Processo concluída
  Corrigir:
0         -
Verificação da coluna Tipo_PF_PJ concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Substância:
['BASALTO' 'AREIA' 'MINÉRIO DE FERRO' 'ARGILA P/CER. VERMELH'
 'ÁGUA MINERAL' 'AREIA FINA' 'GRANITO P/ BRITA' 'FOLHELHO ARGILOSO'
 'CALCÁRIO' 'CASCALHO' 'AREIA FLUVIAL' 'AREIA COMUM' 'BASALTO P/ BRITA'
 'ÁGUA MINERAL ALC. BIC' 'ARGILA' 'QUARTZITO FRIÁVEL' 'MÁRMORE'
 'ARGILA COMUM' 'GRANITO' 'FILITO' 'SAIBRO' 'BRITA DE GRANITO' 'NÍQUEL'
 'AREIA LAVADA' 'CHARNOQUITO' 'ARGILA VERMELHA' 'BASALTO P/ REVESTIMENTO'
 'FOSFATO' 'GIPSITA' 'QUARTZITO' 'ARGILA REFRATÁRIA' 'ARGILA CAULÍNICA'
 'ARENITO' 'CALCÁRIO CALCÍTICO' 'GNAISSE P/ BRITA' 'MINÉRIO DE OURO'
 'CAULIM' 'FELDSPATO' 'FONÓLITO' 'CALCÁRIO DOLOMÍTICO' 'PEDRA CALCÁRIA'
 'PEDRA SÃO TOMÉ' 'ÁGUA POTÁVEL DE MESA' 'RIÓLITO' 'AREIA ALUVIONAR'
 'QUARTZITO P/ REVESTIMENTO' 'SIENITO ORNAMENTAL' 'PEDRA QUARTZITO'
 'AREIA DE BARRANCO' 'MANGANÊS' 'SEIXOS' 'FOLHELHO ARDOSIANO'
 'DIABÁSIO P/ BRITA' 'LATERITA' 'TUFO VULCÂNICO' 'GIPSO' 'GRANITO AMARELO'
 'AREIA IN NATURA' 'AREIA QUARTZOSA' 'DOLOMITO' 'GNAISSE' 'SEIXOS ROLADOS'
 'AREIA P/ JATEAMENTO' 'MINÉRIO DE MANGANÊS' 'ILMENITA' 'RUTILO'
 'ZIRCONITA' 'AMETISTA' 'SIENITO' 'CALCÁRIO P/ BRITA' 'ARDÓSIA'
 'CARVÃO MINERAL' 'ÁGUA MINERAL ALC. TER. MAGNE' 'MÁRMORE INDUSTRIAL'
 'GRANITO ORNAMENTAL' 'ÁGUAS TERMAIS' 'QUARTZITO SERICITICO' 'MICAXISTO'
 'AGALMATOLITO' 'QUARTZITO INDUSTRIAL' 'ÁGUA GASOSA' 'DIABÁSIO' 'GRAFITA'
 'BENTONITA' 'AREIA INDUSTRIAL' 'CIANITA' 'SALGEMA' 'OURO' 'BAUXITA'
 'TURFA' 'MÁRMORE P/ REVESTIMENTO' 'SERICITA' 'TALCO' 'ESMERALDA'
 'MINÉRIO DE URÂNIO' 'PIROCLORO' 'MAGNESITA' 'CROMITA'
 'GRANITO P/ REVESTIMENTO' 'CASSITERITA' 'XISTO' 'MIGMATITO'
 'CALCÁRIO FOSFOROSO' 'APATITA' 'ESTEATITO' 'VERMICULITA'
 'ÁGUA MINERAL RAD. FON' 'CALCITA' 'ARGILITO' 'GRANODIORITO P/ BRITA'
 'QUARTZO' 'DIATOMITA' 'ALEXANDRITA' 'LEUCOFILITO' 'DIORITO ORNAMENTAL'
 'CONCHAS CALCÁRIAS' 'ROCHA CALCÁRIA' 'XISTO BETUMINOSO' 'FERRO'
 'GRANULITO' 'DIATOMITO' 'BARITA' 'AMIANTO' 'ARGILA LEUCÍTICA' 'SAPONITO'
 'MINÉRIO DE ZINCO' 'TINGUAÍTO' 'SERPENTINITO' 'PRATA' 'ESPODUMÊNIO'
 'PIRITA' 'LEUCITA' 'CALCÁRIO INDUSTRIAL' 'DIORITO' 'MIGMATITO P/ BRITA'
 'FLUORITA' 'SAIS DE SÓDIO' 'ÁGUA MINERAL LITINADA' 'HEMATITA'
 'ÁGUAS OLIGOMINERAIS' 'SILVITA' 'DUNITO' 'MINÉRIO DE NÍQUEL' 'COBRE'
 'GRANODIORITO' 'AREIA DE FUNDIÇÃO' 'AREIA P/ VIDRO' 'MINÉRIO DE ALUMÍNIO'
 'ROCHA FOSFÁTICA' 'DIORITO P/ BRITA' 'NEFELINA FONÓLITO' 'NEFELINA'
 'ÁGUA MINERAL SULFUROS' 'SILTITO' 'SAIBREIRA' 'CARVÃO' 'ARGILA BRANCA'
 'PEDREGULHO' 'ARGILA FERRUGINOSA' 'MICA' 'PEDRA CORADA'
 'LATERITA FERRUGINOSA' 'TOPÁZIO IMPERIAL' 'MINÉRIO DE CHUMBO'
 'QUARTZITO DUMORTIERITO' 'GNAISSE INDUSTRIAL' 'GRANITO VERDE UBATUBA'
 'SIENITO P/ REVESTIMENTO' 'TANTALITA-COLUMBITA' 'ÁGATA'
 'DIAMANTE INDUSTRIAL' 'PEGMATITO' 'TURMALINA' 'CASCALHO SILICOSO'
 'CONGLOMERADO' 'SILÍCIO' 'OCRE' 'FERRO MANGANÊS' 'MINÉRIO DE TITÂNIO'
 'CALCÁRIO MAGNESIANO' 'ALUMÍNIO' 'DIABÁSIO P/ REVESTIMENTO' 'PALÁDIO'
 'GEMA' 'FERTILIZANTE FOSFATADO' 'ROCHA BETUMINOSA' 'GNAISSE ORNAMENTAL'
 'ÁGUA MINERAL ALC. TER. CALCI.' 'ÁGUA TERMO MINERAL' 'SODALITA SIENITO'
 'CAULIM ARGILOSO' 'VARVITO' 'DIAMANTE' 'MIGMATITO ORNAMENTAL' 'SODALITA'
 'MINÉRIO DE COBRE' 'QUARTZO FUNDENTE' 'CALCÁRIO SEDIMENTAR' 'BARITINA'
 'GNAISSE GRANÍTICO' 'NEFELINA SIENITO' 'GABRO' 'PEDRA SABÃO' 'GESSO'
 'SIENITO INDUSTRIAL' 'QUARTZITO ROSA' 'GRANITO GNÁISSICO' 'CAULINITA'
 'TAGUÁ' 'ÁGUA MINERAL ALC. TER' 'SÍLICA' 'WOLFRAMITA' 'MINÉRIO DE CROMO'
 'AUGEN GNAISSE' 'COLUMBITA' 'GNAISSE P/ REVESTIMENTO'
 'GRANODIORITO P/ REVESTIMENTO' 'BIOTITA GRANITO' 'OPALA' 'CROMO'
 'QUARTZO INDUSTRIAL' 'AREIA SILICOSA' 'SCHEELITA' 'ALGAS CALCÁREAS'
 'ARGILA BENTONÍTICA' 'ARGILA ALUMINOSA' 'MONAZITA' 'CATACLASITO'
 'PEDRA PRECIOSA' 'CALCÁRIO BETUMINOSO' 'ÁGUA MARINHA' 'TOPÁZIO' 'CHUMBO'
 'ÁGUA MINERAL CARBOGAS' 'URÂNIO' 'MINÉRIO DE ESTANHO' 'TERRAS RARAS'
 'MONZOGRANITO' 'ESTANHO' 'SILICATOS DE ZINCO' 'ARGILA BAUXÍTICA' 'NIÓBIO'
 'ANDALUZITA INDUSTRIAL' 'MINÉRIO DE PRATA' 'METACONGLOMERADO'
 'PIROFILITA' 'CRISOTILA' 'TUFO' 'OURO NATIVO' 'SILEXITO'
 'ALUVIÃO AURÍFERO' 'TANTALITA' 'CRISOBERILO' 'SIENO GRANITO' 'ZIRCÔNIO'
 'MINÉRIO DE TUNGSTÊNIO' 'MINÉRIO DE LÍTIO' 'CASCALHO DIAMANTÍFERO'
 'TUNGSTÊNIO' 'ANDESITO' 'MINÉRIO DE SILÍCIO' 'MINÉRIO DE ZIRCÔNIO'
 'LEPIDOLITA' 'ARENITO INDUSTRIAL' 'MINÉRIO DE BERÍLIO' 'SILVINITA'
 'SÍLEX' 'MUSCOVITA' 'MINÉRIO DE MOLIBDÊNIO' 'CALCÁRIO CONCHÍFERO'
 'FOLHELHO' 'MINÉRIO DE NIÓBIO' 'XISTO ARGILOSO' 'MOSCOVITA'
 'HIDRARGILITA' 'BERILO' 'MINÉRIO DE TÂNTALO' 'TONALITO'
 'MÁRMORE DOLOMÍTICO' 'TRAQUITO' 'CARBONATITO' 'MAGNETITA' 'PETALITA'
 'KUNZITA' 'BAUXITA FOSFOROSA' 'ZINCO' 'WILLEMITA' 'TÂNTALO' 'CANGA'
 'CRISTAL DE ROCHA' 'TITÂNIO' 'SULFETOS DE CHUMBO' 'ROCHA POTÁSSICA'
 'CALCEDÔNIA' 'GRANADA' 'CITRINO' 'SULFETOS DE NÍQUEL' 'COBALTO'
 'QUARTZO COM INCLUSÕES' 'ALUVIÃO ESTANÍFERO' 'ATAPULGITA'
 'MINÉRIO DE VANÁDIO' 'LIMONITA' 'MORGANITA' 'ARCÓSIO' 'DACITO'
 'MONZONITO' 'DIOPSÍDIO' 'CORÍNDON' 'ANFIBÓLIO' 'PIROXENITO']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna UF:
['RS' 'GO' 'MG' 'BA' 'MS' 'SP' 'PE' 'SC' 'PR' 'CE' 'MT' 'RJ' 'RO' 'PI'
 'RR' 'ES' 'PB' 'MA' 'PA' 'AM' 'TO' 'DF' 'AL' 'RN' 'AC' 'SE' 'AP' None]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Município:
['TRÊS DE MAIO' 'SÃO LUÍS DE MONTES BELOS' 'CONGONHAS' ... 'BURITICUPU'
 'PRESIDENTE VENCESLAU' 'MIRANTE DO PARANAPANEMA']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna QuantidadeComercializada:
['0' '141' '134144' ... '19479,87' '39600,93' '52387,33']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna QuantidadeComercializada:
['0' '141' '134144' ... '19479,87' '39600,93' '52387,33']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna UnidadeDeMedida:
['m3' 't' 'l' 'g' 'm2' 'kg' 'ct' None]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna ValorRecolhido:
['206,41' '34,33' '33065,2' ... '1296,65' '19107,13' '25276,45']
Verificação concluída

In [ ]:
# Tratamentos:
dfp_arrecadacao.drop_duplicates()
dfp_arrecadacao.replace(to_replace='ARGILA P/CER. VERMELH', value='ARGILA P/CER. VERMELHA', inplace=True)
dfp_arrecadacao.replace(to_replace='-', value=np.nan, inplace=True)
dfp_arrecadacao.fillna(np.nan)
dfp_arrecadacao.replace(to_replace='None', value=np.nan, inplace=True)
dfp_arrecadacao.drop(['CPF_CNPJ', 'index'], axis=1, inplace=True)
dfp_arrecadacao['QuantidadeComercializada'] = dfp_arrecadacao['QuantidadeComercializada'].str.replace(',', '.')
dfp_arrecadacao['ValorRecolhido'] = dfp_arrecadacao['ValorRecolhido'].str.replace(',', '.')
dfp_arrecadacao['QuantidadeComercializada'] = dfp_arrecadacao['QuantidadeComercializada'].astype(float)
dfp_arrecadacao['ValorRecolhido'] = dfp_arrecadacao['ValorRecolhido'].astype(float)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='m3', value='Metros Cubicos', inplace=True)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='t', value='Toneladas', inplace=True)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='l', value='Litros', inplace=True)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='g', value='Gramas', inplace=True)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='m2', value='Metros Quadrados', inplace=True)
dfp_arrecadacao['UnidadeDeMedida'].replace(to_replace='ct', value='Quilates', inplace=True)
dfp_arrecadacao.replace(to_replace='OURO', value='MINÉRIO DE OURO', inplace=True)
dfp_arrecadacao.replace(to_replace='FERRO', value='MINÉRIO DE FERRO', inplace=True)
dfp_arrecadacao.replace(to_replace='COBRE', value='MINÉRIO DE COBRE', inplace=True)

# Verificando inconsistências na dataframe df_pib

In [13]:
# Transformando DataFrame PIB Spark em DataFrame Pandas
dfp_pib = dfs_pib.toPandas()

In [14]:
dfp_pib.describe()

,index,ano,id_municipio,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
count,94616.000000,94616.000000,9.461600e+04,9.461600e+04,9.461600e+04,9.461600e+04,9.461600e+04,9.461600e+04,9.461600e+04,9.461600e+04
mean,47307.500000,2010.003002,3.253181e+06,7.287343e+08,1.052315e+08,6.235028e+08,3.313567e+07,1.531836e+08,3.329723e+08,1.042113e+08
std,27313.430872,4.898931,9.844558e+05,8.059832e+09,1.489081e+09,6.596790e+09,6.356696e+07,1.094854e+09,4.885391e+09,1.058767e+09
min,0.000000,2002.000000,1.100015e+06,-1.904643e+07,-1.508840e+07,-5.105931e+08,-2.298910e+06,-2.897193e+09,3.722780e+05,1.446664e+06
25%,23653.750000,2006.000000,2.512101e+06,3.905784e+07,1.478442e+06,3.729948e+07,6.121093e+06,1.904200e+06,8.765398e+06,1.286555e+07
50%,47307.500000,2010.000000,3.146255e+06,8.971593e+07,4.477020e+06,8.467848e+07,1.519649e+07,6.322138e+06,2.362657e+07,2.568912e+07
75%,70961.250000,2014.000000,4.119103e+06,2.555032e+08,1.811785e+07,2.356625e+08,3.532677e+07,3.520165e+07,8.064128e+07,5.908990e+07
max,94615.000000,2018.000000,5.300108e+06,7.146834e+11,1.271543e+11,5.875291e+11,2.482540e+09,6.689305e+10,4.854288e+11,1.017928e+11

In [15]:
print(dfp_pib.isna().sum())

index                0
ano                  0
id_municipio         0
pib                  0
impostos_liquidos    0
va                   0
va_agropecuaria      0
va_industria         0
va_servicos          0
va_adespss           0
dtype: int64

In [16]:
dfp_pib.duplicated().sum()

0

In [17]:
print(dfp_pib.dtypes)

index                int64
ano                  int32
id_municipio         int32
pib                  int64
impostos_liquidos    int64
va                   int64
va_agropecuaria      int64
va_industria         int64
va_servicos          int64
va_adespss           int64
dtype: object

# Verificando inconsistências na DF Barragens

In [18]:
# Transformando Dataframe Barragens Spark em Dataframe Pandas
dfp_barragens = dfs_barragens.toPandas()

In [19]:
# Analisando dados
dfp_barragens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 95 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   index                                                             906 non-null    int64
 1   ID                                                                906 non-null    int32
 2   Nome                                                              906 non-null    object
 3   Empreendedor                                                      906 non-null    object
 4   CPF_CNPJ                                                          906 non-null    object
 5   UF                                                                906 non-null    object
 6   Município                                                         906 non-null    object
 7   Latitude                                                          906 non-null    object
 8   Longitude                                                         906 non-null    object
 9   Posicionamento                                                    906 non-null    object
 10  Categoria de Risco - CRI                                          906 non-null    object
 11  Dano Potencial Associado - DPA                                    906 non-null    object
 12  Classe                                                            906 non-null    object
 13  Necessita de PAEBM                                                906 non-null    object
 14  Inserido na PNSB                                                  906 non-null    object
 15  Nível de Emergência                                               906 non-null    object
 16  Status da DCE Atual                                               906 non-null    object
 17  Tipo de Barragem de Mineração                                     906 non-null    object
 18  Barragem possui estrutura interna selante                         906 non-null    object
 19  Quantidade Diques Internos                                        906 non-null    int32
 20  Quantidade Diques Selantes                                        906 non-null    int32
 21  A barragem de mineração possui Back Up Dam                        906 non-null    object
 22  Esta Back Up Dam está operando pós rompimento da barragem         906 non-null    object
 23  Nome da Back Up Dam                                               906 non-null    object
 24  UF (Back Up Dam)                                                  906 non-null    object
 25  Município (Back Up Dam)                                           906 non-null    object
 26  Situação operacional da Back Up Dam                               906 non-null    object
 27  Desde (Back Up Dam)                                               906 non-null    object
 28  Vida útil prevista da Back Up Dam (Anos)                          906 non-null    object
 29  Previsão de término de construção da Back Up Dam                  906 non-null    object
 30  A BUD está em Área do Processo ANM ou da Área de Servidão         906 non-null    object
 31  Processos associados (Back Up Dam)                                906 non-null    object
 32  Posicionamento (Back Up Dam)                                      906 non-null    object
 33  Latitude (Back Up Dam)                                            906 non-null    object
 34  Longitude (Back Up Dam)                                           906 non-null    object
 35  Altura Máxima do projeto da Back Up Dam (m)                       906 non-null    object
 36  Comprimento da Crista do projeto da Back Up Dam (m)               906 non-null    object
 37  Volume do projeto da Back Up Dam (m³)                             906 non-null    object
 38  Descarga Máxima do vertedouro da Dack Up Dam (m³/seg)             906 non-null    object
 39  Possui documentação de segurança com ART                          906 non-null    object
 40  Existe manual de operação da Back Up Dam                          906 non-null    object
 41  A Back up Dam passou por auditoria de terceira parte              906 non-null    object
 42  BUD garante redução da área da mancha de inundação à jusante      906 non-null    object
 43  Tipo de Back Up Dam quanto ao material de construção              906 non-null    object
 44  Tipo de fundação da Back Up Dam                                   906 non-null    object
 45  Vazão de projeto da Back Up Dam                                   906 non-null    object
 46  Método construtivo da Back Up Dam                                 906 non-null    object
 47  Tipo de auscultação da Back Up Dam                                906 non-null    object
 48  Situação Operacional                                              906 non-null    object
 49  Desde                                                             906 non-null    object
 50  Vida útil prevista da Barragem (anos)                             906 non-null    object
 51  Estrutura com o Objetivo de Contenção                             906 non-null    object
 52  Está dentro da Área do Processo ANM ou da Área de Servidão        906 non-null    object
 53  Barragem de mineração é alimentado por usina                      906 non-null    object
 54  Usinas                                                            906 non-null    object
 55  Minério principal presente no reservatório                        906 non-null    object
 56  Processo de beneficiamento                                        906 non-null    object
 57  Produtos químicos utilizados                                      906 non-null    object
 58  A Barragem armazena rejeitos/residuos que contenham Cianeto       906 non-null    object
 59  Teor (%) do minério principal inserido no rejeito                 906 non-null    object
 60  Outras substâncias minerais presentes no reservatório             906 non-null    object
 61  Altura máxima do projeto licenciado (m)                           871 non-null    object
 62  Altura máxima atual (m)                                           869 non-null    object
 63  Comprimento da crista do projeto (m)                              869 non-null    object
 64  Comprimento atual da crista (m)                                   869 non-null    object
 65  Descarga máxima do vertedouro (m³/seg)                            869 non-null    object
 66  Área do reservatório (m²)                                         869 non-null    object
 67  Tipo de barragem quanto ao material de construção                 869 non-null    object
 68  Tipo de fundação                                                  869 non-null    object
 69  Vazão de projeto                                                  869 non-null    object
 70  Método construtivo da barragem                                    869 non-null    object
 71  Tipo de alteamento                                                869 non-null    object
 72  Tipo de auscultação                                               869 non-null    object
 73  A Barragem de Mineração possui Manta Impermeabilizante            869 non-null    object
 74  Data da última Vistoria de Inspeção Regular                       904 non-null    object
 75  Confiabilidade das estruturas extravasora                         906 non-null    object
 76  Percolação                                                        906 non-null    object
 77  Deformações e recalque                                            906 non-null    object
 78  Deteriorização dos taludes / paramentos                           906 non-null    object
 79  Documentação de projeto                                           906 non-null    object
 80  Profissionais na equipe de Segurança da Barragem                  906 non-null    object
 81  Manuais para Inspeções de Segurança e Monitoramento               906 non-null    object
 82  PAE - Plano de Ação Emergencial                                   906 non-null    object
 83  Cópias físicas do PAEBM entregues as Prefeituras e Defesas Civis  906 non-null    object
 84  Relatórios da instrumentação e de Análise de Segurança            906 non-null    object
 85  Volume de projeto licenciado do Reservatório (m³)                 870 non-null    object
 86  Volume atual do Reservatório (m³)                                 868 non-null    object
 87  Existência de população a jusante                                 868 non-null    object
 88  N pessoas afetadas a jusante em caso de rompimento da barragem    868 non-null    object
 89  Impacto ambiental                                                 866 non-null    object
 90  Impacto sócio-econômico                                           866 non-null    object
 91  Data da Finalização da DCE                                        902 non-null    object
 92  Motivo de Envio                                                   904 non-null    object
 93  RT/Declaração                                                     903 non-null    object
 94  RT/Empreendimento                                                 903 non-null    object
dtypes: int32(3), int64(1), object(91)
memory usage: 661.9+ KB

In [20]:
dfp_barragens.isna().sum()
print(dfp_barragens.dtypes)

index                          int64
ID                             int32
Nome                          object
Empreendedor                  object
CPF_CNPJ                      object
                               ...
Impacto sócio-econômico       object
Data da Finalização da DCE    object
Motivo de Envio               object
RT/Declaração                 object
RT/Empreendimento             object
Length: 95, dtype: object

In [21]:
verificacao_tipo(dfp_barragens, 'N pessoas afetadas a jusante em caso de rompimento da barragem', float)
verificacao_valor_padrao(dfp_barragens, 'Empreendedor')
verificacao_valor_padrao(dfp_barragens, 'UF')
verificacao_valor_padrao(dfp_barragens, 'Município')
verificacao_valor_padrao(dfp_barragens, 'Categoria de Risco - CRI')
verificacao_valor_padrao(dfp_barragens, 'Nível de Emergência')
verificacao_valor_padrao(dfp_barragens, 'Tipo de Barragem de Mineração')
verificacao_valor_padrao(dfp_barragens, 'Vida útil prevista da Barragem (anos)')
verificacao_valor_padrao(dfp_barragens, 'Estrutura com o Objetivo de Contenção')
verificacao_valor_padrao(dfp_barragens, 'Minério principal presente no reservatório')
verificacao_valor_padrao(dfp_barragens, 'N pessoas afetadas a jusante em caso de rompimento da barragem')

--------------------------------------------------------------------
Verificando a coluna N pessoas afetadas a jusante em caso de rompimento da barragem:
                                 Corrigir:
0                                     1-100
1                                         -
2                                    875,00
3                                  1.100,00
4                                  1.125,00
..                                      ...
163                              729.000,00
164                            5.648.000,00
165                          154.000.000,00
166                           12.200.000,00
167  Projeto executivo ou "como construído"

[168 rows x 1 columns]
Verificação da coluna N pessoas afetadas a jusante em caso de rompimento da barragem concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Empreendedor:
['MOSAIC FERTILIZANTES P&K LTDA.' 'MINERACAO SAO FRANCISCO DE ASSIS LTDA'
 'MAGNESITA MINERACAO S.A. Filial: MAGNESITA MINERACAO S.A'
 'EXTRATIVA MINERAL S/A' 'Cimento Tupi S.a.' 'VALE S.A. Filial: VALE S.A.'
 'Ecb Rochas Ornamentais do Brasil Ltda' 'MINERACAO MATHEUS LEME LTDA'
 'PEDREIRAS BAHIA LTDA' 'VALE S.A.' 'MAGNESITA MINERACAO S.A.'
 'Pedreira Engebrita Ltda' 'José Vicente Nunes Rondon'
 'COMPANHIA BAIANA DE PESQUISA MINERAL CBPM'
 'Indústria Carbonífera Rio Deserto Ltda'
 'Alain Stephane Riviere Mineração' 'Sidnei Rafael de Souza'
 'João Gimenes Rodrigues' 'Frederico Augusto de Arruda Gimenez Me'
 'Jonas Gimenez Rodrigues'
 'Lafargeholcim (brasil) S.a. Filial: LAFARGEHOLCIM (BRASIL) S.A.'
 'NORAIR NELSON DE SOUZA' 'Tbk Mineração Limitada'
 'HERCULANO MINERACAO LTDA' 'MINERACAO USIMINAS S.A.'
 'MINERACAO GERAL DO BRASIL S/A' 'MINERADORA PEDRIX LTDA'
 'EXTRAÇAO E COMERCIO DE AREIA QUEVEDO & SILVA LTDA'
 'Extração de Areia Taboao Ltda' 'D & L Mineração Ltda.'
 'Mineracao Rio do Norte S A' 'CSN MINERACAO S.A.'
 'MINERACAO RODEIO DE BAIXO LTDA Filial: MINERACAO RODEIO DE BAIXO LTDA'
 'Pedras Congonhas Extração Arte e Ind. Ltda' 'Adão Afonso Roduí'
 'Novelis do Brasil Ltda' 'CONCRESAND MINERACAO LTDA'
 'Mineração Pedra Menina Ltda' 'Marcelo Bozetti'
 'Piteiras Mineração Ltda.' 'COMPANHIA MINERADORA DO PIROCLORO DE ARAXA'
 'Cadam S.a.' 'Mineração Taboca S.a.'
 'Minerais & Metais Comércio e Indústria Ltda Filial: MINERAIS & METAIS COMERCIO E INDUSTRIA LTDA'
 'EMPRESA DE MINERACAO HORII LTDA'
 'Companhia Brasileira de Bentonita Ltda'
 'Itaquareia Ind. Extr. Minérios Ltda' 'ATLANTIC NICKEL MINERACAO LTDA'
 'Mineração Santa Luzia de Aguaí Ltda'
 'EMPRESA DE MINERACAO ESPERANCA S A' 'MINERADORA PONTE ALTA LTDA'
 'XILOLITE S/A' 'Marcir Norberto Weber' 'Realmix Agregados Minerais Ltda'
 'TECH ROCK MINERACAO LTDA'
 'ROZEN MINERADORA, CONSULTORIA E ASSESSORIA EM GESTAO EMPRESARIAL LTDA'
 'COOPERATIVA MINERADORA DOS GARIMPEIROS DE ARIQUEMES - COOMIGA'
 'Safm Mineração Ltda' 'NEXA RECURSOS MINERAIS S A'
 'Vantage Brasil Mineração Ltda.' 'ROSEMEIRE BENEDETTI ALVES'
 'MINERACOES GERAIS LTDA' 'Extração de Areia e Pedregulho Cachoeira Ltda.'
 'MINERACAO CARAIBA S/A' 'Uilson Romanha & Cia Ltda'
 'Mineração Sanguinete Ltda' 'Darci Nascimento Epp'
 'Minerita Minérios Itaúna Ltda.' 'Evaldino Rodui'
 'Disk Base Extração de Areia e Comercio de Materiais Para Construção Ltda Me'
 'A R WEBER' 'ARCELORMITTAL BRASIL S.A.'
 'ANGLO AMERICAN MINERIO DE FERRO BRASIL S/A' 'MINERACAO COMISA LTDA'
 'MSM Mineração Serra da Moeda Ltda.' 'Mineração Vila Nova Ltda'
 'PLINIO ALMEIDA BOSON & CIA LTDA' 'Angelo Carlos Vicari Junior'
 'Marcelo Busnardo EPP' 'MONTE SINAI MINERACAO LTDA' 'ORO AMAPA MINERACAO'
 'Cooperativa de Extração de Carvão Mineral dos Trabalhadores de Criciúma'
 'GERDAU ACOMINAS S/A' 'PEDREIRA SARGON LTDA'
 'Unidos Extração e Comércio de Areia e Pedra Ltda Epp'
 'Norte Sul TerraplenagemComercio EIRELIMe'
 'Mineração Nova Petrópolis Ltda.' 'QUARTZITI MINERADORA LTDA'
 'Farias e Rodrigues Ltda Me'
 'WHITE SOLDER METALURGIA E MINERAÇÃO LTDA Filial: WHITE SOLDER METALURGIA E MINERACAO LTDA'
 'PORTO COMERCIO DE AREIA LTDA' 'Empresa de Mineração e Pesquisa do Amapá'
 'CIA DE FERRO LIGAS DA BAHIA FERBASA' 'Ferro + Mineração S.A.'
 'Mineração Jundu Ltda.' 'MULLER & CIA LTDA'
 'METALMIG MINERACAO INDUSTRIA E COMERCIO S/A' 'VETRIA MINERACAO S.A.'
 'BRASIL MINERIOS S/A' 'Empresa Mineradora Boa Sorte Ltda'
 'EXTRAÇÃO E COMÉRCIO DE AREIA BOFETE LTDA' 'L Pavan & Cia Ltda'
 'Pecuária Serramar EIRELI' 'Empresa de Mineração Fiori do Taboão Ltda.'
 'Mineradora Areia Nova Ltda'
 'Cbe Companhia Brasileira de Equipamento Filial: CBE COMPANHIA BRASILEIRA DE EQUIPAMENTO'
 'Conterpa, Conservação e Terraplagem e Pavimentação Ltda'
 'DUTRA EXTRACAO DE AREIA LTDA' 'MILTON JOSE APARECIDO GIULI'
 'MINERACAO DIBASE PEDREIRA LTDA' 'Valdinei Mauro de Souza'
 'SAMARCO MINERACAO S A' 'Mineral do Brasil Ltda.'
 'Construtora Martins Lanna Ltda.'
 'Saint Gobain do Brasil Produtos Industriais e Para Construção Ltda.'
 'AVG EMPREENDIMENTOS MINERARIOS S.A.' 'FERROMINAS - MINERAÇÃO LTDA'
 'PEDREIRA UM VALEMIX LTDA' 'Mib Mineração Ibirité Ltda'
 'Alcoa World Alumina Brasil Ltda.' 'MINERACAO MORRO DO IPE S.A.'
 'Roberto Eustáquio Silva Pedrosa' 'Massa Falida de Mundo Mineração Ltda.'
 'Mineração Tereza Botas Ltda.'
 'Serra Pelada Companhia de Desenvolvimento Mineral'
 'Zamapá Mineração S.a.' 'DEV MINERACAO S.A. - EM RECUPERACAO JUDICIAL'
 'AVB MINERACAO LTDA.' 'Mineração Descalvado Ltda'
 'Mineração Corumbaense Reunida Sa'
 'NIKI MINERACAO, COMERCIO E EXPORTACAO LTDA.' 'Sérgio de França'
 'Airton Luiz Carus' 'Geominas Minerações Ltda.' 'Mineração Marsil Ltda.'
 'Mineração Santa Luzia Limitada' 'Leonardo Pittella'
 'MINERACAO BOM RETIRO II EIRELI' 'Manoel Rodrigues Gimenes'
 'MINERAÇÃO BOM RETIRO LTDA.' 'VM Mineração e Construção Eireli EPP'
 'SERGIO DA SILVA' 'FILADELFO DOS REIS DIAS' 'T G de Souza'
 'ALTA FLORESTA GOLD MINERAÇÃO LTDA' 'Carbonífera Siderópolis Ltda.'
 'PEDRO CERQUEIRA CALDAS' 'Yan Bittencourt nascimento'
 'Valdemir Carlos de Souza' 'RIDALECIO DE SOUZA'
 'Brase Brasil Extração Comercio e Industria de Estanho Ltda'
 'SALINAS GOLD MINERACAO LTDA' 'NORMA ARGES OLIVA'
 'COOPERATIVA DE MINERADORES E GARIMPEIROS DA REGIA'
 'Waldomiro Chmieleski Neto' 'ITAMINAS COMERCIO DE MINERIOS SA'
 'Ilmar Silva e Souza' 'Torio Brasil Mineração Ltda'
 'Cooperativa de Produtores de Estanho do Brasil'
 'COOPERATIVA DE MINERACAO DOS GARIMPEIROS DE PONTES E LACERDA - COMPEL'
 'GDMBRASIL - GEOLOGIA E DESENVOLVIMENTO MINERAL LTDA'
 'João Gabriel Guizzo'
 'COOPERATIVA DE EXTRACAO DE METAIS E PEDRAS PRECIOSAS DE PONTES E LACERDA-MT'
 'Robinson da Silva Bravo' 'Joaquim Aderaldo de Souza Neto'
 'Mineração Maracá Industria e Comercio Sa' 'IMERYS RIO CAPIM CAULIM S.A.'
 'VYACHESLAV RYSIN'
 'COOPERATIVA DE EXTRACAO MINERAL DE NOSSA SENHORA DO LIVRAMENTO'
 'CELESTA MINERACAO S.A' 'Marcelo Massaru Takahashi' 'VALE GOLD S.A.'
 'L V R COMERCIO E EXTRACAO MINERAL LTDA' 'BURITIRAMA MINERACAO S.A.'
 'Ronny Morais Costa' 'Minar Mineração Aredes Ltda.'
 'Mbl Materiais Básicos Ltda' 'Granha Ligas Ltda'
 'Bauminas Mineração Ltda' 'Humberto Covezzi'
 'NAGELLA CHRISSIE FIRMINO BRAVO' 'Marcus Vítor Nunes Lindote'
 'NX GOLD S.A. Filial: NX GOLD SA'
 'GICS Indústria Comércio e Serviços S.a.'
 'GICS Indústria Comércio e Serviços S.a. Filial: Roberto Eustáquio Silva Pedrosa'
 'ADELSON JOSE GARCIA DA SILVA' 'Elisa Maciel Santos'
 'Lysander Lima de França' 'EVANDRO DE SOUZA' 'Gonçalo Pedroso de Barros'
 'Companhia Siderúrgica Nacional' 'Roberto Nunes Rondon'
 'Companhia Brasileira do Cobre' 'Antônio da Cunha Barbosa Filho'
 'MINERACAO SERRA GRANDE S A' 'JACOBINA MINERACAO E COMERCIO LTDA'
 'Mara Daisy Gil Dias' 'MINERACAO TABIPORA LTDA'
 'João de Pinho Novo Filho' 'MINERACAO DARCY R.O. E SILVA LTDA'
 'AMG BRASIL S.A.' 'ANGLOGOLD ASHANTI CORREGO DO SITIO MINERACAO S.A.'
 'M. M. GOLD MINERACAO LTDA' 'KINROSS BRASIL MINERACAO S/A'
 'SAMACA FERROS LTDA' 'FAZENDA BRASILEIRO DESENVOLVIMENTO MINERAL LTDA'
 'MINERACAO CASA DE PEDRA LTDA' 'Euler Oliveira Coelho'
 'Ulisses José Dorileo' 'JOAO ROBERTO CARDOSO' 'Marcio Nascimento'
 'Mineração Paragominas S A Filial: Mineração Paragominas S.A.'
 'Copelmi Mineração Ltda' 'Mineração Paragominas S.A.'
 'Brasmic Mineração Areia e Brita Ltda'
 'M & J MINERACAO, PISCICULTURA E REFLORESTAMENTO - EIRELI'
 'MINA TUCANO LTDA.' 'COMPANHIA BRASILEIRA DE ALUMINIO'
 'Empresa de Mineração e Artefatos de Cimento Jbs Ltda Epp'
 'MINERAÇÃO OURO BRANCO SALTO DE PIRAPORA LTDA ME' 'Mineração Apoena S A'
 'SANTA LUZ DESENVOLVIMENTO MINERAL LTDA' 'NACIONAL DE GRAFITE LTDA'
 'PILAR DE GOIAS DESENVOLVIMENTO MINERAL LTDA'
 'MINERACAO RIACHO DOS MACHADOS LTDA.' 'Jeová Barbosa de Morais'
 'Vanádio de Maracás SA'
 'CMOC BRASIL MINERACAO, INDUSTRIA E PARTICIPACOES LTDA.'
 'Salobo Metais Sa.' 'Reginaldo Luiz de Almeida Ferreira Me'
 'Geocal Mineração Ltda' 'Territorial São Paulo Mineração Ltda'
 'CARBONIFERA METROPOLITANA S/A' 'PARA PIGMENTOS S A'
 'Mineração Serras do Oeste Eireli'
 'Itafos Arraias Mineração e Fertilizantes S.a.' 'MINERIOS NACIONAL S.A.'
 'COOPERATIVA DE EXTRAÇÃO MINERAL DE MATO GROSSO'
 'JOSE MARIA OTAVIO MARTINS DUARTE' 'MINERACAO DO VALE LTDA'
 'EMBU S A ENGENHARIA E COMERCIO'
 'COOPERATIVA DOS GARIMPEIROS DE SANTA CRUZ - COOPERSANTA'
 'NBF MINERACAO S.A.' 'HELLEN ELIZABETH CORREA MARTINS'
 'VERMELHAO MINERACAO INDUSTRIA E COMERCIO LTDA'
 'EUROMAQUINAS MINERACAO LTDA' 'Unamgen Mineração e Metalurgia S.a.'
 'Gabriella Mineração Ltda' 'Davi Alves Bicalho' 'MINERACAO AURIZONA S/A'
 'Isa Maria Dorileo Ferreira de Assis'
 'Mineração Nossa Senhora do Carmo Ltda' 'SERABI MINERACAO S.A.'
 'Mineração Vale Verde do Brasil Ltda' 'ESTANHO DE RONDONIA S/A'
 'PROMETALICA MINERACAO EIRELI' 'VALLOUREC TUBOS DO BRASIL LTDA.'
 'Carbonífera Belluno Ltda.' 'EMICON MINERACAO E TERRAPLENAGEM LIMITADA'
 'MARCOS JOSE MARTINS FERNANDES' 'Extrativa Metalurgia S A'
 'Topazio Imperial Mineração Comercio e Industria Ltda'
 'Diego Sérgio de oliveira Almeida'
 'Cooperativa de Mineração dos Garimpeiros do Lourenço Ltda'
 'Cia Mineradora Catite Duo S. A.'
 'PARÁ ALTA FLORESTA GOLD MINERAÇÃO LTDA EPP'
 'COOPERATIVA DOS GARIMPEIROS DO VALE DO VILA NOVA' 'GINEZ GIMENES NETO'
 'Companhia Riograndense de Mineração' 'Ricardo Padilla de Bordon Neves'
 'RIVER GOLD MINERACAO LTDA' 'EDMAR GUERMAND DE QUEIROZ'
 'SERRINHA GOLDMINE LTDA' 'RENALDO RUDI SCHORK' 'Gustavo Ferreira Correia'
 'Diego Macedo Cardoso']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna UF:
['SE' 'PA' 'BA' 'MG' 'PI' 'SP' 'MT' 'SC' 'RS' 'AP' 'AM' 'RO' 'PB' 'RJ'
 'TO' 'GO' 'MS' 'MA' 'PR' 'AL']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Município:
['ROSÁRIO DO CATETE' 'SÃO FÉLIX DO XINGU' 'SANTALUZ' 'NOVA LIMA'
 'CARANAÍBA' 'OURILÂNDIA DO NORTE' 'CASTELO DO PIAUÍ' 'MATEUS LEME'
 'SIMÕES FILHO' 'OURO PRETO' 'ITABIRITO' 'UBERABA' 'BRUMADO' 'SANTOS'
 'ITABIRA' 'BARÃO DE COCAIS' 'POCONÉ' 'IRECÊ' 'MARIANA' 'IÇARA'
 'CANAÃ DOS CARAJÁS' 'PRADOS' 'MONTE MOR' 'ITATIAIUÇU' 'BRUMADINHO'
 'CAIEIRAS' 'TATUÍ' 'MOGI DAS CRUZES' 'VIAMÃO' 'ORIXIMINÁ' 'CONGONHAS'
 'DESCOBERTO' 'BOFETE' 'SENADOR MODESTINO GONÇALVES' 'ARAXÁ'
 'VITÓRIA DO JARI' 'PRESIDENTE FIGUEIREDO' 'ALMEIRIM' 'RIO CRESPO'
 'VITÓRIA DA CONQUISTA' 'ITAGIBÁ' 'AGUAÍ' 'ROSÁRIO OESTE' 'SOROCABA'
 'VÁRZEA' 'CAMPO NOVO DE RONDÔNIA' 'CUJUBIM' 'JARU' 'MINISTRO ANDREAZZA'
 'URUPÁ' 'VAZANTE' 'JUÍNA' 'INHAÚMA' 'JAGUARARI' 'ITAPETININGA'
 'SALTO DE PIRAPORA' 'DIAMANTINA' 'GUARAREMA' 'ALAMBARI'
 'NOSSA SENHORA DO LIVRAMENTO' 'SÃO JOÃO DA BARRA' 'MAZAGÃO'
 'SÃO LOURENÇO DO PIAUÍ' 'NOVA SANTA HELENA' 'MONTE DO CARMO' 'CALÇOENE'
 'FORQUILHINHA' 'SANTA ISABEL' 'SARAPUÍ' 'VILHENA' 'NOVA PETRÓPOLIS'
 'CORUMBÁ DE GOIÁS' 'BELA VISTA DE MINAS' 'ANDORINHA' 'ANALÂNDIA'
 'ITAPUÃ DO OESTE' 'CORUMBÁ' 'SÃO LUÍS DE MONTES BELOS' 'SÃO PAULO'
 'CARAGUATATUBA' 'CAMPO FORMOSO' 'CODÓ' 'HORTOLÂNDIA' 'CAPIVARI'
 'PEDREIRA' 'CUIABÁ' 'MÁRIO CAMPOS' 'BETIM' 'ITUTINGA' 'SABARÁ' 'ITAÚNA'
 'CATAS ALTAS' 'JURUTI' 'PARAUAPEBAS' 'LAGAMAR' 'RIO ACIMA' 'CURIONÓPOLIS'
 'FERREIRA GOMES' 'PEDRA BRANCA DO AMAPARI' 'DESCALVADO' 'SANTA BÁRBARA'
 'ANTÔNIO DIAS' 'OUVIDOR' 'PATROCÍNIO' 'NATIVIDADE' 'ITAITUBA'
 'SÃO GONÇALO DO RIO ABAIXO' 'IBIÚNA' 'PARACATU' 'LEME'
 "MACHADINHO D'OESTE" 'URUSSANGA' 'PARANAÍTA' 'ARIPUANÃ' 'SARZEDO'
 'ARIQUEMES' 'PONTES E LACERDA' 'VILA BELA DA SANTÍSSIMA TRINDADE'
 'ALTO HORIZONTE' 'BARCARENA' 'MARABÁ' 'SÃO TIAGO' 'MERCÊS' 'MIRAÍ'
 'NOVA XAVANTINA' 'SERRA DO SALITRE' 'ARCOS' 'CAÇAPAVA DO SUL' 'CRIXÁS'
 'JACOBINA' 'SANTO ANTÔNIO DO GRAMA' 'CONCEIÇÃO DO MATO DENTRO'
 'CAMPO LARGO' 'SÃO SIMÃO' 'NAZARENO' 'RIBEIRÃO BRANCO' 'BARROCAS'
 'CAJATI' 'PATOS DE MINAS' 'TAPIRA' 'CATALÃO' 'PARAGOMINAS' 'BUTIÁ'
 'CACHOEIRA DO SUL' 'ALMAS' 'ITAMARATI DE MINAS' 'MATIPÓ' 'ITAPECERICA'
 'SALTO DA DIVISA' 'PEDRA AZUL' 'PILAR DE GOIÁS' 'RIACHO DOS MACHADOS'
 'MARACÁS' 'QUATIS' 'SANTANA DE PARNAÍBA' 'MAIQUINIQUE' 'JECEABA'
 'RIO PIRACICABA' 'BELO VALE' 'TREVISO' 'IPIXUNA DO PARÁ' 'ARRAIAS'
 'CORUMBATAÍ' 'NOVA LACERDA' 'SIDERÓPOLIS' 'GODOFREDO VIANA' 'CAETÉ'
 'CERRO AZUL' 'CONCEIÇÃO DO PARÁ' 'CRAÍBAS' 'RIO BRANCO' 'LAURO MÜLLER'
 'IGARAPÉ' 'FORTALEZA DE MINAS' 'NOVA ERA' 'JACAREACANGA' 'PORTO GRANDE'
 'MINAS DO LEÃO' 'SÃO JOSÉ DOS QUATRO MARCOS']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Categoria de Risco - CRI:
['Não se aplica' 'Baixa' 'Média' 'Alta']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Nível de Emergência:
['Sem emergência' 'Emergência Nivel 1' 'Emergência Nivel 3'
 'Emergência Nivel 2']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Tipo de Barragem de Mineração:
['Barragem/Barramento/Dique' 'Cava com Barramento Construído'
 'Empilhamento drenado construído hidraulicamente e suscetível à liquefação']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Vida útil prevista da Barragem (anos):
['34,00' '-' '14,00' '10,00' '46,00' '50,00' '61,00' '93,00' '12,00'
 '20,00' '1,00' '0,00' '9,00' '42,00' '22,00' '15,00' '37,00' '5,00'
 '21,00' '18,00' '26,00' '100,00' '30,00' '19,00' '27,00' '11,00' '3,00'
 '8,00' '6,00' '47,00' '44,00' '4,00' '25,00' '2,00' '7,00' '39,00'
 '35,00' '56,00' '16,00' '13,00' '57,00' '88,00' '1,50' '33,00' '2,08'
 '48,00' '17,00' '40,00' '2,50' '55,00' '24,00' '38,00' '23,00' '999,00'
 '70,00' '52,00' '51,00' '29,00' '85,00' '32,00' '110,00' '69,00' '2,58'
 '74,00' '53,00' '89,00' '54,00' '92,00' '6,50' '71,00']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Estrutura com o Objetivo de Contenção:
['Rejeitos' 'Sedimentos']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Minério principal presente no reservatório:
['Sais' 'Areia' 'Cromita' 'Não se aplica a esse tipo de barragem'
 'Argila Refratária' 'Argila' 'Magnesita' 'Fosfato' 'Minério de Ferro'
 'Argila Arenosa' 'Calcário Dolomítico' 'Bauxita Grau Metalúrgico'
 'Minério de Manganês' 'Minério de Estanho Primário' 'Caulim'
 'Aluvião Aurífero' 'Areia Quartzosa' 'Areia e Cascalho'
 'Rocha Diamantífera' 'Rocha Aurífera' 'Minério de Cromo' 'Saibro'
 'Minério de Ouro Primário' 'PLANTA DE BENEFICIAMENTO'
 'Aluvião Estanífero' 'Vermiculita' 'Usina Pedrinhas' 'Minério de Cobre'
 'Calcário' 'Bauxita Grau Não Metalúrgico' '-' 'Itabirito'
 'Usina Vidreira' 'Minério de Ouro Secundário' 'USINA SÃO GONÇALO'
 'Aluvião Diamantífero' 'Hematita' 'Rocha Fosfática' 'Arenito'
 'Argila Caulinítica' 'Pegmatito' 'ROBERT BUCHAN' 'Silvanita'
 'Carvão Mineral' 'Xisto' 'ITM VGR02' 'Minério de Vanádio' 'ITM D'
 'Minério de Níquel' 'REJEITO' 'Minério de Nióbio'
 'Carvão Mineral Camada Bonito' 'Usina Chapadão' 'PLANTA BOM FUTURO'
 'Granito' 'Usina Conceição I e Usina Conceição II)'
 'Minério de Estanho Secundário' 'Carvão Mineral Camada Barro Branco'
 'Planta de Beneficiamento 02' 'Fluorita' 'Minério de Zinco'
 'Planta de Processamento ACR'
 'USINA DE BRITAGEM E CLASSIFICAÇÃO - PEDREIRA JURUAÇU' 'UTM - Ipê'
 'Aluvião com Gemas' 'Unidade de Vazante - Zinco'
 'Usina Morro Agudo Zn e Pb']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna N pessoas afetadas a jusante em caso de rompimento da barragem:
['1-100' '-' '875,00' '1.100,00' '1.125,00'
 'Inexistente (Não existem pessoas permanentes/residentes ou temporárias/transitando na área afetada a jusante da barragem)'
 '7.300,00' '4.300,00' '4.600,00'
 'Pouco Frequente (Não existem pessoas ocupando permanentemente a área afetada a jusante da barragem, mas existe estrada vicinal de uso local)'
 '7.100,00' '4.900,00' '3.900,00' '57.000,00' '8.000,00' '36.000,00'
 '5.000,00' '600.000,00' '2,00' '3.000,00' '424.000,00' '90,00' '3.420,00'
 '4.078,00' '650.000,00' '700.000,00' '7.500,00' '100,00' '39.000,00'
 '45.500,00' '80.000,00' '185.520,00' '0,00' '94.325,00' '10.275,00'
 '7.557,00' '5.397,71' '4.385,00' '3.766,00' '2.319,80' '7.259,80'
 '5.233,20' '385.000,00' '29.688,00'
 'Não se aplica a esse tipo de barragem' '7.546.484,00' '2.551.310,00'
 '750.000,00' None
 'Não emite regularmente relatórios de inspeção e monitoramento e de Análise de Segurança'
 '192.200,00' '92.000,00' '76.000,00' '324.121,27' '200.000,00' '9.064,00'
 '1.500.000,00' '24.000,00'
 'Frequente (Não existem pessoas ocupando permanentemente a área afetada a jusante da barragem, mas existe rodovia municipal ou estadual ou federal ou outro local e/ou empreendimento de permanência eventual de pessoas que poderão ser atingidas)'
 '2.100.000,00' '65.458,90' '64.000,00' '4.500.000,00' '500.000,00'
 '4.000.000,00'
 'Emite regularmente relatórios de inspeção e monitoramento com base na instrumentação e de Análise de Segurança'
 'Existente (Existem pessoas ocupando permanentemente a área afetada a jusante da barragem, portanto, vidas humanas poderão ser atingidas)'
 '2.000,00' '237.000,00' '1.450.000,00'
 'Emite regularmente APENAS relatórios de inspeção e monitoramento'
 '124.000,00' '1.890.000,00'
 'Possui unidade administrativa com profissional técnico qualificado responsável pela segurança da barragem'
 '282.779,28' 'Projeto básico'
 'Possui manuais de procedimentos para inspeção, monitoramento e operação'
 '101-500' '658.400,00' '1.258.400,00' '584,00'
 'Projeto executivo e "como construído"'
 '0 - Percolação totalmente controlada pelo sistema de drenagem'
 '1001-5000' '750.000.000,00' 'Sim' '483.000.000,00' '260.000,00'
 '13.770.423,00' '1.721.104,00' '2.383.500,00' '721.970,36' '8.708.062,00'
 '169.670.660,16' '80.000.000,00'
 'Não possui PAE (não é exigido pelo órgão fiscalizador)' '25.450.713,00'
 '6.377.283,00' '1.540.000,00' '15.029.999,01' '65.875,80' '18.637.900,00'
 '2.813.137,96' '55.000,00' '800.000,00' '4.800.000,00' '156.260,00'
 '17.500.000,00'
 '0 - Estruturas civis bem mantidas e em operação normal / barragem sem necessidade de estruturas extravasoras'
 'Possui PAE' '7.177.241,71' '501-1000'
 'CMP (Cheia Máxima Provável) ou Decamilenar' '625.000,00' '12.763.176,54'
 '22.778.397,90' '19.476.113,00' '4.460.000,00' '2.790.000,00'
 '2.310.000,00' '4.820.000,00' '3.420.000,00' '2.480.000,00'
 'acima de 5001' '34.000.000,00' '10.924.076,00' '2.685.782,00'
 'Possui profissional técnico qualificado (próprio ou contratado) responsável pela segurança da barragem'
 '7.723.600,00' '1.724.296,94' '68.500,00' '639.854,00' '1.480.555,00'
 '502.671,00' '8.032,89' '1.100.000,00' '2.920.000,00' '103.000,00'
 '2.632.000,00' '1.183.119,15' '23.500.000,00' '375.000,00' '154.433,29'
 '3.748.232,99' '4.455.613,00' '3.595.017,00' '3.717.626,00'

# Verificando inconsistencias no dataframe dados_populacao

In [22]:
# Transformando DataFrame Dados População Spark em DataFrame Pandas
dfp_dados_populacao = dfs_dados_populacao.toPandas()

In [23]:
# Analisando dados
print(dfp_dados_populacao.dtypes)

index                                              int64
Ano                                                int64
Esperança de Vida ao Nascer                      float64
Esperança de Vida ao Nascer - Homens             float64
Esperança de Vida ao Nascer - Mulheres           float64
Homens                                             int64
Mulheres                                           int64
Nascimentos                                        int64
População total                                    int64
Razão de Dependência                             float64
Razão de Dependência - Idosos 65 ou mais anos    float64
Razão de Dependência - Jovens 0 a 14 anos        float64
Taxa Bruta de Mortalidade                        float64
Taxa Bruta de Natalidade                         float64
Taxa de Crescimento Geométrico                    object
Taxa de Fecundidade Total                        float64
Taxa de Mortalidade Infantil                     float64
Taxa de Mortalidade Infantil - Homens            float64
Taxa de Mortalidade Infantil - Mulheres          float64
uf                                                object
Índice de Envelhecimento                         float64
Óbitos                                             int64
dtype: object

In [25]:
dfp_dados_populacao.head()

,index,Ano,Esperança de Vida ao Nascer,Esperança de Vida ao Nascer - Homens,Esperança de Vida ao Nascer - Mulheres,Homens,Mulheres,Nascimentos,População total,Razão de Dependência,...,Taxa Bruta de Mortalidade,Taxa Bruta de Natalidade,Taxa de Crescimento Geométrico,Taxa de Fecundidade Total,Taxa de Mortalidade Infantil,Taxa de Mortalidade Infantil - Homens,Taxa de Mortalidade Infantil - Mulheres,uf,Índice de Envelhecimento,Óbitos
0,0,2010,71.68,68.46,75.4,384406,380919,16489,765325,66.22,...,5.09,21.55,x,2.45,22.08,24.17,19.88,AC,11.8,3899

In [24]:
verificacao_valor_padrao(dfp_dados_populacao, 'Ano')
verificacao_valor_padrao(dfp_dados_populacao, 'Esperança de Vida ao Nascer')
verificacao_valor_padrao(dfp_dados_populacao, 'Esperança de Vida ao Nascer - Homens')
verificacao_valor_padrao(dfp_dados_populacao, 'Esperança de Vida ao Nascer - Mulheres')
verificacao_valor_padrao(dfp_dados_populacao, 'Homens')
verificacao_valor_padrao(dfp_dados_populacao, 'Mulheres')
verificacao_valor_padrao(dfp_dados_populacao, 'Nascimentos')
verificacao_valor_padrao(dfp_dados_populacao, 'População total')
verificacao_valor_padrao(dfp_dados_populacao, 'Razão de Dependência')
verificacao_valor_padrao(dfp_dados_populacao, 'Razão de Dependência - Idosos 65 ou mais anos')
verificacao_valor_padrao(dfp_dados_populacao, 'Razão de Dependência - Jovens 0 a 14 anos')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa Bruta de Mortalidade')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa Bruta de Natalidade')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa de Crescimento Geométrico')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa de Fecundidade Total')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa de Mortalidade Infantil')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa de Mortalidade Infantil - Homens')
verificacao_valor_padrao(dfp_dados_populacao, 'Taxa de Mortalidade Infantil - Mulheres')
verificacao_valor_padrao(dfp_dados_populacao, 'Índice de Envelhecimento')
verificacao_valor_padrao(dfp_dados_populacao, 'Óbitos')
verificacao_valor_padrao(dfp_dados_populacao, 'uf')

---------------------------------------------------------------------
Verificando valores únicos da coluna Ano:
[2010]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Esperança de Vida ao Nascer:
[71.68]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Esperança de Vida ao Nascer - Homens:
[68.46]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Esperança de Vida ao Nascer - Mulheres:
[75.4]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Homens:
[384406]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Mulheres:
[380919]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Nascimentos:
[16489]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna População total:
[765325]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Razão de Dependência:
[66.22]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Razão de Dependência - Idosos 65 ou mais anos:
[6.97]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Razão de Dependência - Jovens 0 a 14 anos:
[59.25]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa Bruta de Mortalidade:
[5.09]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa Bruta de Natalidade:
[21.55]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa de Crescimento Geométrico:
['x']
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa de Fecundidade Total:
[2.45]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa de Mortalidade Infantil:
[22.08]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa de Mortalidade Infantil - Homens:
[24.17]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Taxa de Mortalidade Infantil - Mulheres:
[19.88]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Índice de Envelhecimento:
[11.8]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna Óbitos:
[3899]
Verificação concluída
---------------------------------------------------------------------
Verificando valores únicos da coluna uf:
['AC']
Verificação concluída

# Verificando inconsistências na DF municipio

In [32]:
# Transformando o dataframe municipio spark em Dataframe Pandas
dfp_municipio = dfs_municipio.toPandas()

In [33]:
# Verificando as colunas:
verificacao_valor_padrao(dfp_municipio,  "UF")
verificacao_tipo(dfp_municipio, "COD. UF", int)
verificacao_texto(dfp_municipio, "COD. UF", 2, True)
verificacao_tipo(dfp_municipio, "COD. MUNIC", int)
verificacao_texto(dfp_municipio, "NOME DO MUNICÍPIO", None, False)
verificacao_tipo(dfp_municipio, "POPULAÇÃO ESTIMADA", float)

---------------------------------------------------------------------
Verificando valores únicos da coluna UF:
['RO' 'AC' 'AM' 'RR' 'PA' 'AP' 'TO' 'MA' 'PI' 'CE' 'RN' 'PB' 'PE' 'AL'
 'SE' 'BA' 'MG' 'ES' 'RJ' 'SP' 'PR' 'SC' 'RS' 'MS' 'MT' 'GO' 'DF']
Verificação concluída
--------------------------------------------------------------------
Verificando a coluna COD. UF:
Nenhum problema detectado nessa coluna
Verificação da coluna COD. UF concluída
Nenhum problema detectado nesta coluna
Verificação da coluna COD. UF concluída
--------------------------------------------------------------------
Verificando a coluna COD. MUNIC:
Nenhum problema detectado nessa coluna
Verificação da coluna COD. MUNIC concluída
                  Corrigir:
0     Alta Floresta D'Oeste
1         Colorado do Oeste
2             Costa Marques
3           Espigão D'Oeste
4             Guajará-Mirim
...                     ...
2536   Terezópolis de Goiás
2537           Três Ranchos
2538    Valparaíso de Goiás
2539               Vila Boa
2540          Vila Propício

[2541 rows x 1 columns]
Verificação da coluna NOME DO MUNICÍPIO concluída
--------------------------------------------------------------------
Verificando a coluna POPULAÇÃO ESTIMADA:
     Corrigir:
0    548.952(1)
1     44.873(2)
2     13.482(3)
3     17.193(4)
4     13.462(5)
5     47.685(6)
6     33.981(7)
7     2.255.903
8    116.439(8)
9     26.566(9)
10   68.502(10)
11   16.007(11)
12   24.098(12)
13    1.506.420
14    6.952(13)
15  125.265(14)
16    1.115.932
17    2.703.391
18   12.216(15)
19    1.661.017
20    1.031.597
21   15.549(16)
22    8.849(17)
23    9.548(18)
24    2.900.319
25   44.185(19)
26    2.530.701
27    6.775.561
28    1.098.357
29    1.223.237
30    1.404.694
31   12.396.372
32    1.963.726
33    1.492.530
34    1.555.626
35    3.094.325
Verificação da coluna POPULAÇÃO ESTIMADA concluída

     Corrigir:
0    548.952(1)
1     44.873(2)
2     13.482(3)
3     17.193(4)
4     13.462(5)
5     47.685(6)
6     33.981(7)
7     2.255.903
8    116.439(8)
9     26.566(9)
10   68.502(10)
11   16.007(11)
12   24.098(12)
13    1.506.420
14    6.952(13)
15  125.265(14)
16    1.115.932
17    2.703.391
18   12.216(15)
19    1.661.017
20    1.031.597
21   15.549(16)
22    8.849(17)
23    9.548(18)
24    2.900.319
25   44.185(19)
26    2.530.701
27    6.775.561
28    1.098.357
29    1.223.237
30    1.404.694
31   12.396.372
32    1.963.726
33    1.492.530
34    1.555.626
35    3.094.325

In [34]:
dfp_municipio.describe()

             index      COD. UF    COD. MUNIC
count  5570.000000  5570.000000   5570.000000
mean   2784.500000    32.377738  15816.982585
std    1608.064831     9.833862  15997.299780
min       0.000000    11.000000     13.000000
25%    1392.250000    25.000000   4507.250000
50%    2784.500000    31.000000  10400.500000
75%    4176.750000    41.000000  20853.000000
max    5569.000000    53.000000  72202.000000

In [35]:
dfp_municipio.duplicated().sum()

0

In [36]:
dfp_municipio.isna().sum()

index                 0
UF                    0
COD. UF               0
COD. MUNIC            0
NOME DO MUNICÍPIO     0
POPULAÇÃO ESTIMADA    0
dtype: int64

## Plotagens Preliminares

In [ ]:
# Arrecadacao
plt.figure(figsize=(10,10))
plt.title("Total Arrecadado por ano")
plt.plot(dfp_arrecadacao["Ano"], dfp_arrecadacao["ValorRecolhido"])
plt.xlabel("Ano")
plt.ylabel("Número de Ocorrências")
plt.show()

# Analisando os dados depois de Tratados

## Spark.sql

### Arrecadacao

In [45]:
'''
Puxando o o data frame tratado do bucket
'''
df_arrecadacao = spark.read.csv("gs://soulcode-mineracao/tratados/arrecadacao.csv", sep=',', encoding='utf-8', header=True)
df_arrecadacao = df_arrecadacao.withColumnRenamed("Substância", "Substancia").withColumnRenamed("Mês", "Mes").withColumnRenamed("Município", "Municipio")

In [46]:
df_arrecadacao.columns

['Ano',
 'Mes',
 'Processo',
 'AnoDoProcesso',
 'Tipo_PF_PJ',
 'Substancia',
 'UF',
 'Municipio',
 'QuantidadeComercializada',
 'UnidadeDeMedida',
 'ValorRecolhido']

In [47]:
'''
Cria ou substitui uma visão temporária para o DataFrame

O tempo de vida dessa tabela temporária está vinculado à 
SparkSession que foi usada para criar o DataFrame.

'''

df_arrecadacao.createOrReplaceTempView('arrecadacao')

In [48]:
'''
> COUNT
Contando a quantidade de linhas do Dataframe
'''
spark.sql('''SELECT COUNT (*)
          FROM arrecadacao
          ''').show()

+--------+
|count(1)|
+--------+
| 1657294|
+--------+

In [49]:
'''
> DISTINCT
Consultando apenas os valores distintos
Aplicando, como exemplo, a coluna 'Ano'.
'''

spark.sql('''SELECT DISTINCT Ano
          FROM arrecadacao
          ORDER BY Ano
          ''').show(30)

+----+
| Ano|
+----+
|2002|
|2003|
|2004|
|2005|
|2006|
|2007|
|2008|
|2009|
|2010|
|2011|
|2012|
|2013|
|2014|
|2015|
|2016|
|2017|
|2018|
|2019|
|2020|
|2021|
|2022|
+----+

In [50]:
'''
> SOMA
Consulta para a soma da quantidade comercializada por estado da view 'teste',
agrupadas por estado e ordenadas do maior ao menor valor da soma da
quantidade comercializada em ordem decrescente
'''
spark.sql('''SELECT UF, cast(SUM(QuantidadeComercializada) as DECIMAL(15,2)) as QuantidadeComercializada
             FROM arrecadacao 
             GROUP BY UF
             ORDER BY QuantidadeComercializada DESC
             ''').show(30)

+----+------------------------+
|  UF|QuantidadeComercializada|
+----+------------------------+
|  GO|        9183313766101.26|
|  MG|        8768631954947.87|
|  SP|        6364884182577.36|
|  PB|         720245324293.12|
|  AP|         464456059814.76|
|  RS|         189459061922.14|
|  DF|         122644869084.48|
|  RJ|         120209532126.80|
|  MA|          93153116399.30|
|  SC|          71489575584.17|
|  BA|          47709341949.63|
|  MS|          30415871547.41|
|  PA|          24468919173.55|
|  PR|          16775349626.24|
|  AM|          15155884589.54|
|  PE|          10203767508.34|
|  RN|          10196596252.01|
|  SE|           9416274536.25|
|  AL|           8536400669.33|
|  CE|           7068395217.58|
|  TO|           6334523495.39|
|  ES|           3103633530.43|
|  PI|           2902046048.37|
|  RO|           1635857770.09|
|  RR|            331384919.76|
|  AC|            216741034.70|
|null|             54910567.93|
|  MT|                    null|
+----+------------------------+

In [51]:
'''
> MÉDIA
Consulta para a média da quantidade comercializada por estado da view 'teste',
agrupadas por estado e ordenadas do maior ao menor valor da média da
quantidade comercializada em ordem decrescente
'''

spark.sql('''SELECT UF, cast(AVG(QuantidadeComercializada) as DECIMAL(15,2)) as QuantidadeComercializada
             FROM arrecadacao 
             GROUP BY UF
             ORDER BY QuantidadeComercializada DESC
             ''').show(30)

+----+------------------------+
|  UF|QuantidadeComercializada|
+----+------------------------+
|  MT|            179977695.06|
|  GO|            123844451.48|
|  AP|             87139973.70|
|  MG|             34020702.54|
|  PB|             32344410.11|
|  DF|             24937956.30|
|  SP|             23575740.74|
|  MA|              4868205.72|
|  AM|              1597374.01|
|  RJ|              1552573.19|
|  RS|              1138042.64|
|  AL|              1108335.58|
|  MS|               867587.19|
|  RN|               854988.79|
|  BA|               850615.85|
|  SE|               713030.03|
|  TO|               510313.66|
|  PA|               485436.64|
|  SC|               443637.84|
|  PE|               388922.38|
|  CE|               215335.73|
|  PI|               154594.40|
|  PR|               127531.38|
|  RR|                94304.19|
|  AC|                81328.72|
|  RO|                58234.23|
|  ES|                43304.50|
|null|                35563.84|
+----+------------------------+

In [ ]:
'''
> SOMA
Consulta para a soma do valor recolhido da view 'teste',
agrupadas por ano e uf e ordenadas por ano e soma do
valor recolhido em ordem decrescente
'''

spark.sql('''SELECT Ano, UF, cast(SUM(ValorRecolhido) as DECIMAL(15,2)) as ValorRecolhido
             FROM arrecadacao 
             GROUP BY Ano, UF
             ORDER BY Ano, ValorRecolhido DESC
             ''').show(200)

In [ ]:
'''
> MÉDIA
Consulta para a média do valor recolhido da view 'teste',
agrupadas por ano e uf e ordenadas por ano e média do
valor recolhido em ordem decrescente
'''

spark.sql('''SELECT Ano, UF, cast(AVG(ValorRecolhido) as DECIMAL(15,2)) as ValorRecolhido
             FROM arrecadacao 
             GROUP BY Ano, UF
             ORDER BY Ano, ValorRecolhido DESC
             ''').show(200)

In [ ]:
spark.sql("SELECT DISTINCT unidadedemedida from arrecadacao").show()

In [4]:
'''
Consulta dos 10 minérios mais comercializados, por unidade de medida
'''

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_m3 "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Metros Cubicos' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_m2 "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Metros Quadrados' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(20)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_null "
          "FROM arrecadacao WHERE UnidadeDeMedida is NULL GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(20)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_T "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Toneladas' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_L "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Litros' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_g "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Gramas' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_kg "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Kg' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada_K "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Quilates' GROUP BY(Substancia) ORDER BY SUM(QUANTIDADECOMERCIALIZADA) DESC").show(10)

AnalysisException: 'Table or view not found: arrecadacao; line 1 pos 112'

In [5]:
'''
Investigando os minérios em que a quantidade de medida é kg
'''
spark.sql("SELECT * FROM arrecadacao WHERE UnidadeDeMedida like '%Quilo%' ").show()

AnalysisException: 'Table or view not found: arrecadacao; line 1 pos 14'

In [6]:
'''
Investigando os minérios que possuem mais imposto
'''
spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorTonelada "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Toneladas' GROUP BY(Substancia) ORDER BY impostoPorTonelada DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorQuilate "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Quilates' GROUP BY(Substancia) ORDER BY impostoPorQuilate DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorMetroQuad "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Metros Quadrados' GROUP BY(Substancia) ORDER BY impostoPorMetroQuad DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorMetroCub "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Metros Cubicos' GROUP BY(Substancia) ORDER BY impostoPorMetroCub DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorLitro "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Litros' GROUP BY(Substancia) ORDER BY impostoPorLitro DESC").show(10)

spark.sql("SELECT Substancia, Cast(SUM(QUANTIDADECOMERCIALIZADA) as DECIMAL(25,3)) as SomaQuantidadeComercializada, "
          "CAST(SUM(ValorRecolhido) as DECIMAL(25,3)) as mediaValorRecolhido, CAST(SUM(ValorRecolhido)/SUM(QuantidadeComercializada) as DECIMAL(10,2)) as impostoPorGramas "
          "FROM arrecadacao WHERE UnidadeDeMedida = 'Gramas' GROUP BY(Substancia) ORDER BY impostoPorGramas DESC").show(10)

AnalysisException: 'Table or view not found: arrecadacao; line 1 pos 272'

### PIB

In [52]:
df_pib = spark.read.csv('gs://soulcode-mineracao/tratados/pib.csv', inferSchema=True, header=True, encoding='utf-8')

In [53]:
df_pib.createOrReplaceTempView('pib')

In [54]:
df_pib.columns

['ano',
 'id_municipio',
 'pib',
 'impostos_liquidos',
 'va',
 'va_agropecuaria',
 'va_industria',
 'va_servicos',
 'va_adespss']

In [55]:
spark.sql("SELECT ano, SUM(pib), SUM(impostos_liquidos), sum(va), sum(va_agropecuaria), sum(va_industria), sum(va_servicos), sum(va_adespss) FROM pib GROUP BY ano ORDER BY ano").show()

+----+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+
| ano|     sum(pib)|sum(impostos_liquidos)|      sum(va)|sum(va_agropecuaria)|sum(va_industria)|sum(va_servicos)|sum(va_adespss)|
+----+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+
|2002|1488787276039|          218572609012|1270214667015|         81515198966|     334907570007|    644403214045|   209388684020|
|2003|1717950386056|          247233152001|1470717233978|        105949164973|     396568543017|    732543684039|   235655841993|
|2004|1957751224028|          295769100994|1661982123059|        110912703012|     475863218000|    815527583034|   259678618984|
|2005|2170584502984|          327768754273|1842818402007|        100957547036|     524686244007|    922044704993|   295129905954|
|2006|2409449916019|          360159937992|2049289978009|        105294010981|     567281406012|   1043094774978|   333619786031|
|2007|2720262950930|          400734669993|2319528280985|        120151714997|     629071170992|   1193195220987|   377110173985|
|2008|3109803096975|          483325381005|2626477715984|        142051181983|     717907186036|   1332296659026|   434222689025|
|2009|3333039338988|          483277026373|2849762821989|        149212634996|     729222075014|   1484149305942|   487178806006|
|2010|3885846999973|          583115331549|3302839999988|        159932000003|     904158000021|   1700905000023|   537844999954|
|2011|4376381999975|          655953523727|3720460999970|        190023999999|    1011034000004|   1921343999999|   598059000017|
|2012|4814760000022|          720529486876|4094259000014|        200694999998|    1065682000000|   2175781000015|   652101000005|
|2013|5331618956621|          777875776445|4553760000020|        240289999980|    1131626000012|   2435656999995|   746187000027|
|2014|5778952779987|          806232611218|4972734000025|        249975000006|    1183093999992|   2722856999957|   816808000006|
|2015|5995786999978|          840203782484|5155601000043|        258966999940|    1160787000023|   2850259999964|   885586999951|
|2016|6269327999976|          849534546163|5419821999979|        306655000002|    1150720000012|   3017325999991|   945120999987|
|2017|6585479000016|          913552999997|5671925999993|        302970999989|    1197799999969|   3170179999971|  1000974999971|
|2018|7004140999992|          992990999970|6011149999954|        309611000012|    1313209999995|   3342943999947|  1045385000005|
+----+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+

In [56]:
spark.sql("SELECT id_municipio, SUM(pib), SUM(impostos_liquidos), sum(va), sum(va_agropecuaria), sum(va_industria), sum(va_servicos), sum(va_adespss) FROM pib GROUP BY id_municipio ORDER BY SUM(impostos_liquidos) DESC").show()

+------------+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+
|id_municipio|     sum(pib)|sum(impostos_liquidos)|      sum(va)|sum(va_agropecuaria)|sum(va_industria)|sum(va_servicos)|sum(va_adespss)|
+------------+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+
|     3550308|7665059415725|         1393893909426|6271165506297|           358199113|     847621578137|   4952149715780|   471036013269|
|     3304557|3688917912360|          830073114061|2858844798301|           795436389|     455037435209|   1899649121127|   503362805574|
|     5300108|2454731764824|          330618608760|2124113156063|          8060086541|     127995157170|   1034273221201|   953784691149|
|     4106902| 976174788039|          181891684423| 794283103619|           113572013|     172746483400|    537040891916|    84382156290|
|     1302603| 824412695626|          166164551580| 658248144046|          2416851207|     293761955123|    278571483414|    83497854305|
|     3106200|1017163739219|          151832354563| 865331384657|            18000537|     163610531011|    589253577363|   112449275749|
|     3534401| 729592935805|          149231494538| 580361441270|             7766663|      44098141937|    506258894983|    29996637687|
|     3505708| 557100871637|          146178094153| 410922777485|             2588886|      61410236687|    331075628500|    18434323404|
|     3548708| 619027878016|          134769868718| 484258009294|            69115551|     180759736348|    269201455490|    34227701904|
|     4314902| 777402011793|          122420325799| 654981685992|           284189073|      78532246420|    504437657479|    71727593017|
|     3509502| 661327632403|          118098834637| 543228797763|          1156642102|     123887698476|    368125054898|    50059402290|
|     3518800| 611133652722|          102122158763| 509011493962|           330910857|     149050907573|    305367089249|    54262586281|
|     2611606| 572248782916|           97903028380| 474345754532|           373474278|      80464919370|    327592356226|    65915004656|
|     2927408| 683433192304|           95066981135| 588366211170|           416171385|      99535140151|    408120880867|    80294018765|
|     2304400| 646666298666|           93938016388| 552728282276|           588845398|      95978451196|    371479907907|    84681077775|
|     3205309| 308828042765|           92633254288| 216194788479|           142857286|      58168570257|    136951615244|    20931745692|
|     3525904| 423879103729|           80172851582| 343706252147|          1151085116|      99124348578|    224405467877|    19025350578|
|     3106705| 316800632293|           74700068616| 242100563678|           187795670|     117255832682|    103162186575|    21494748749|
|     4125506| 273319770614|           71469730181| 201850040434|          3619822480|      94565608300|     90282947504|    13381662149|
|     5208707| 517186125501|           68650928319| 448535197182|           503764544|      85442483177|    302199219549|    60389729914|
+------------+-------------+----------------------+-------------+--------------------+-----------------+----------------+---------------+
only showing top 20 rows

In [57]:
df_pib.printSchema()

root
 |-- ano: integer (nullable = true)
 |-- id_municipio: integer (nullable = true)
 |-- pib: long (nullable = true)
 |-- impostos_liquidos: long (nullable = true)
 |-- va: long (nullable = true)
 |-- va_agropecuaria: long (nullable = true)
 |-- va_industria: long (nullable = true)
 |-- va_servicos: long (nullable = true)
 |-- va_adespss: long (nullable = true)

### Barragens

In [83]:
df_barragens = spark.read.csv('gs://soulcode-mineracao/tratados/barragens.csv', inferSchema=True, header=True, encoding='utf-8')
dfp_barragens = df_barragens.toPandas()

In [84]:
dfp_barragens.head()

,Empreendedor,UF,Município,Categoria de Risco - CRI,Nível de Emergência,Tipo de Barragem de Mineração,Vida útil prevista da Barragem (anos),Estrutura com o Objetivo de Contenção,Minério principal presente no reservatório,N pessoas afetadas a jusante em caso de rompimento da barragem
0,MOSAIC FERTILIZANTES P&K LTDA.,SE,ROSÁRIO DO CATETE,Não se aplica,Sem emergência,Barragem/Barramento/Dique,34.0,Rejeitos,Sais,100.0
1,MINERACAO SAO FRANCISCO DE ASSIS LTDA,PA,SÃO FÉLIX DO XINGU,Não se aplica,Sem emergência,Barragem/Barramento/Dique,NaN,Rejeitos,Areia,NaN
2,MAGNESITA MINERACAO S.A. Filial: MAGNESITA MIN...,BA,SANTALUZ,Não se aplica,Sem emergência,Barragem/Barramento/Dique,14.0,Rejeitos,Cromita,875.0
3,MAGNESITA MINERACAO S.A. Filial: MAGNESITA MIN...,BA,SANTALUZ,Não se aplica,Sem emergência,Barragem/Barramento/Dique,14.0,Rejeitos,Cromita,1100.0
4,MAGNESITA MINERACAO S.A. Filial: MAGNESITA MIN...,BA,SANTALUZ,Não se aplica,Sem emergência,Barragem/Barramento/Dique,14.0,Rejeitos,Cromita,1125.0

In [127]:
df_barragens = df_barragens.withColumnRenamed('N pessoas afetadas a jusante em caso de rompimento da barragem', 'nAfetadosRompimento')\
                           .withColumnRenamed('Estrutura com o Objetivo de Contenção', 'estruturaContencao')\
                           .withColumnRenamed('Vida útil prevista da Barragem (anos)', 'vidaUtilAnos')\
                           .withColumnRenamed('Nível de Emergência', 'nivelEmergencia')\
                           .withColumnRenamed('Categoria de Risco - CRI', 'categoriaRiscoCRI')\
                           .withColumnRenamed('Município', 'municipio')

In [128]:
df_barragens.createOrReplaceTempView('barragens')

In [129]:
df_barragens.printSchema()

root
 |-- Empreendedor: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- categoriaRiscoCRI: string (nullable = true)
 |-- nivelEmergencia: string (nullable = true)
 |-- Tipo de Barragem de Mineração: string (nullable = true)
 |-- vidaUtilAnos: double (nullable = true)
 |-- estruturaContencao: string (nullable = true)
 |-- Minério principal presente no reservatório: string (nullable = true)
 |-- nAfetadosRompimento: double (nullable = true)

In [105]:
'''
Os 10 estados com maior número de habitantes com risco de serem afetados por rompimento de barragens
'''

spark.sql("SELECT UF, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) as somaAfetadosRompimento FROM barragens GROUP BY UF ORDER BY somaAfetadosRompimento DESC ").show(10)

+---+----------------------+
| UF|somaAfetadosRompimento|
+---+----------------------+
| MG|         1637078647.27|
| PA|          208944531.94|
| GO|           82920100.00|
| BA|           44544955.00|
| RO|           35757479.56|
| SP|            9736054.56|
| MT|            8293207.49|
| AP|            1870800.00|
| MS|            1333226.40|
| TO|              39000.00|
+---+----------------------+
only showing top 10 rows

In [90]:
'''
Verificando a vida média da vida útil das barragens por estado
'''

spark.sql("SELECT UF, CAST(AVG(vidaUtilAnos) as decimal(20,2)) as mediaVidaUtilAnos FROM barragens GROUP BY UF ORDER BY mediaVidaUtilAnos").show()

+---+-----------------+
| UF|mediaVidaUtilAnos|
+---+-----------------+
| PI|             null|
| PB|             null|
| RO|             4.57|
| MA|             5.33|
| BA|             5.96|
| RS|             6.60|
| SC|            12.46|
| AM|            12.67|
| SP|            13.04|
| AL|            14.00|
| AP|            14.31|
| MT|            14.98|
| GO|            15.43|
| MS|            17.56|
| PA|            18.40|
| TO|            22.17|
| MG|            22.67|
| PR|            24.67|
| SE|            32.33|
| RJ|            34.00|
+---+-----------------+

In [121]:
spark.sql("SELECT DISTINCT nivelEmergencia FROM barragens").show()

spark.sql("SELECT DISTINCT categoriaRiscoCRI FROM barragens").show()

+------------------+
|   nivelEmergencia|
+------------------+
|    Sem emergência|
|Emergência Nivel 3|
|Emergência Nivel 2|
|Emergência Nivel 1|
+------------------+

+-----------------+
|categoriaRiscoCRI|
+-----------------+
|             Alta|
|            Média|
|    Não se aplica|
|            Baixa|
+-----------------+

In [107]:
spark.sql("SELECT UF, COUNT(nivelEmergencia) as numBarragensSemEmergencia, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) FROM barragens WHERE nivelEmergencia = 'Sem emergência' GROUP BY UF ORDER BY numBarragensSemEmergencia DESC ").show()

spark.sql("SELECT UF, COUNT(nivelEmergencia) as numBarragensEmergencia3, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) FROM barragens WHERE nivelEmergencia = 'Emergência Nivel 3' GROUP BY UF ORDER BY numBarragensEmergencia3 DESC ").show()

spark.sql("SELECT UF, COUNT(nivelEmergencia) as numBarragensEmergencia2, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) FROM barragens WHERE nivelEmergencia = 'Emergência Nivel 2' GROUP BY UF ORDER BY numBarragensEmergencia2 DESC ").show()

spark.sql("SELECT UF, COUNT(nivelEmergencia) as numBarragensEmergencia1, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) FROM barragens WHERE nivelEmergencia = 'Emergência Nivel 1' GROUP BY UF ORDER BY numBarragensEmergencia1 DESC ").show()

+---+-------------------------+-----------------------------------------------+
| UF|numBarragensSemEmergencia|CAST(sum(nAfetadosRompimento) AS DECIMAL(30,2))|
+---+-------------------------+-----------------------------------------------+
| MG|                      314|                                  1530238706.12|
| MT|                      141|                                     6193207.49|
| PA|                      113|                                   208876031.94|
| BA|                       81|                                    44544955.00|
| SP|                       67|                                     9736054.56|
| RO|                       36|                                    35757479.56|
| GO|                       22|                                    82920100.00|
| MS|                       18|                                     1333226.40|
| AP|                       17|                                     1870800.00|
| AM|                       15|                                        1400.00|
| SC|                       14|                                       30600.00|
| TO|                        7|                                       39000.00|
| RS|                        6|                                         200.00|
| SE|                        3|                                         100.00|
| MA|                        3|                                           null|
| PR|                        3|                                           null|
| PI|                        2|                                           null|
| RJ|                        2|                                        1100.00|
| PB|                        1|                                           null|
| AL|                        1|                                           null|
+---+-------------------------+-----------------------------------------------+

+---+-----------------------+-----------------------------------------------+
| UF|numBarragensEmergencia3|CAST(sum(nAfetadosRompimento) AS DECIMAL(30,2))|
+---+-----------------------+-----------------------------------------------+
| MG|                      3|                                    29339136.71|
+---+-----------------------+-----------------------------------------------+

+---+-----------------------+-----------------------------------------------+
| UF|numBarragensEmergencia2|CAST(sum(nAfetadosRompimento) AS DECIMAL(30,2))|
+---+-----------------------+-----------------------------------------------+
| MG|                      7|                                    35542774.44|
+---+-----------------------+-----------------------------------------------+

+---+-----------------------+-----------------------------------------------+
| UF|numBarragensEmergencia1|CAST(sum(nAfetadosRompimento) AS DECIMAL(30,2))|
+---+-----------------------+-----------------------------------------------+
| MG|                     26|                                    41958030.00|
| MT|                      2|                                     2100000.00|
| PA|                      1|                                       68500.00|
| AP|                      1|                                           null|
+---+-----------------------+-----------------------------------------------+

In [134]:
spark.sql("SELECT UF, municipio, Empreendedor, categoriaRiscoCRI, nivelEmergencia FROM barragens WHERE nivelEmergencia <> 'Sem emergência' or (categoriaRiscoCRI = 'Alta')").show(100)

+---+--------------------+--------------------+-----------------+------------------+
| UF|           municipio|        Empreendedor|categoriaRiscoCRI|   nivelEmergencia|
+---+--------------------+--------------------+-----------------+------------------+
| MG|           RIO ACIMA|Massa Falida de M...|             Alta|Emergência Nivel 1|
| MG|           RIO ACIMA|Massa Falida de M...|             Alta|Emergência Nivel 1|
| AP|PEDRA BRANCA DO A...|DEV MINERACAO S.A...|             Alta|Emergência Nivel 1|
| MT|              POCONÉ|   NORMA ARGES OLIVA|             Alta|Emergência Nivel 1|
| MT|NOSSA SENHORA DO ...|     SERGIO DA SILVA|             Alta|Emergência Nivel 1|
| MT|              POCONÉ|João de Pinho Nov...|             Alta|    Sem emergência|
| MT|              POCONÉ|Ulisses José Dorileo|             Alta|    Sem emergência|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|     BARÃO DE COCAIS|           VALE S.A.|             Alta|Emergência Nivel 3|
| MG|     BARÃO DE COCAIS|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 2|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 2|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 3|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 2|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 2|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           ITABIRITO|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 3|
| MG|SÃO GONÇALO DO RI...|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|     BARÃO DE COCAIS|           VALE S.A.|             Alta|Emergência Nivel 1|
| PA|              MARABÁ|BURITIRAMA MINERA...|             Alta|Emergência Nivel 1|
| MG|          ITATIAIUÇU|ARCELORMITTAL BRA...|             Alta|Emergência Nivel 2|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           BELO VALE|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           NOVA LIMA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|           RIO ACIMA|MINERIOS NACIONAL...|             Alta|Emergência Nivel 2|
| MT|NOSSA SENHORA DO ...|JOSE MARIA OTAVIO...|             Alta|    Sem emergência|
| MG|             MARIANA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|         CATAS ALTAS|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|             MARIANA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|             MARIANA|           VALE S.A.|             Alta|Emergência Nivel 2|
| MG|             ITABIRA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|             ITABIRA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|             ITABIRA|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|          OURO PRETO|           VALE S.A.|             Alta|Emergência Nivel 1|
| MG|          BRUMADINHO|EMICON MINERACAO ...|             Alta|Emergência Nivel 1|
| MG|          BRUMADINHO|EMICON MINERACAO ...|             Alta|Emergência Nivel 1|
| MG|          OURO PRETO|Topazio Imperial ...|             Alta|Emergência Nivel 1|
+---+--------------------+--------------------+-----------------+------------------+

In [140]:
'''
Número de barragens em risco e de afetados pelo rompimento por município
'''

spark.sql("SELECT UF, municipio, COUNT(municipio) as numBarragensRisco, CAST(SUM(nAfetadosRompimento) as DECIMAL(30,2)) as somaAfetadosRompimento FROM barragens WHERE nivelEmergencia <> 'Sem emergência' or categoriaRiscoCRI = 'Alta' GROUP BY uf, municipio ORDER BY somaAfetadosRompimento DESC").show(100)

+---+--------------------+-----------------+----------------------+
| UF|           municipio|numBarragensRisco|somaAfetadosRompimento|
+---+--------------------+-----------------+----------------------+
| MG|          OURO PRETO|                8|           61805641.44|
| MG|             MARIANA|                3|           23501100.00|
| MG|           NOVA LIMA|                9|           13620258.00|
| MG|     BARÃO DE COCAIS|                3|            7178241.71|
| MT|              POCONÉ|                3|            2383500.00|
| MT|NOSSA SENHORA DO ...|                2|            2100000.00|
| MG|          BRUMADINHO|                2|             729000.00|
| PA|              MARABÁ|                1|              68500.00|
| MG|             ITABIRA|                3|               5100.00|
| MG|           BELO VALE|                1|                500.00|
| MG|         CATAS ALTAS|                1|                100.00|
| MG|           ITABIRITO|                1|                  null|
| MG|          ITATIAIUÇU|                1|                  null|
| AP|PEDRA BRANCA DO A...|                1|                  null|
| MG|SÃO GONÇALO DO RI...|                1|                  null|
| MG|           RIO ACIMA|                3|                  null|
+---+--------------------+-----------------+----------------------+

### Dados_populacao

In [141]:
df_dados_populacao = spark.read.csv('gs://soulcode-mineracao/tratados/dados_populacao.csv', inferSchema=True, header=True, encoding='utf-8')
dfp_dados_populacao = df_dados_populacao.toPandas()

In [ ]:
df_dados_populacao.createOrReplaceTempView('dados_populacao')