In [ ]:
'''
Cria ou substitui uma visão temporária para o DataFrame

O tempo de vida dessa tabela temporária está vinculado à 
SparkSession que foi usada para criar o DataFrame.

'''

df_spark.createOrReplaceTempView('teste')

In [ ]:
'''
> COUNT
Contando a quantidade de linhas do Dataframe
'''
spark.sql('''SELECT COUNT (*)
          FROM teste
          ''').show()

In [ ]:
'''
> DISTINCT
Consultando apenas os valores distintos
Aplicando, como exemplo, a coluna 'Ano'.
'''

spark.sql('''SELECT DISTINCT Ano
          FROM teste
          ORDER BY Ano
          ''').show(30)

In [ ]:
'''
> SOMA
Consulta para a soma da quantidade comercializada por estado da view 'teste',
agrupadas por estado e ordenadas do maior ao menor valor da soma da
quantidade comercializada em ordem decrescente
'''
spark.sql('''SELECT UF, cast(SUM(QuantidadeComercializada) as DECIMAL(15,2)) as QuantidadeComercializada
             FROM teste 
             GROUP BY UF
             ORDER BY QuantidadeComercializada DESC;
             ''').show(30)

In [ ]:
'''
> MÉDIA
Consulta para a média da quantidade comercializada por estado da view 'teste',
agrupadas por estado e ordenadas do maior ao menor valor da média da
quantidade comercializada em ordem decrescente
'''

spark.sql('''SELECT UF, cast(AVG(QuantidadeComercializada) as DECIMAL(15,2)) as QuantidadeComercializada
             FROM teste 
             GROUP BY UF
             ORDER BY QuantidadeComercializada DESC;
             ''').show(30)

In [ ]:
'''
> SOMA
Consulta para a soma do valor recolhido da view 'teste',
agrupadas por ano e uf e ordenadas por ano e soma do
valor recolhido em ordem decrescente
'''

spark.sql('''SELECT Ano, UF, cast(SUM(ValorRecolhido) as DECIMAL(15,2)) as ValorRecolhido
             FROM teste 
             GROUP BY Ano, UF
             ORDER BY Ano, ValorRecolhido DESC;
             ''').show(200)

In [ ]:
'''
> MÉDIA
Consulta para a média do valor recolhido da view 'teste',
agrupadas por ano e uf e ordenadas por ano e média do
valor recolhido em ordem decrescente
'''

spark.sql('''SELECT Ano, UF, cast(AVG(ValorRecolhido) as DECIMAL(15,2)) as ValorRecolhido
             FROM teste 
             GROUP BY Ano, UF
             ORDER BY Ano, ValorRecolhido DESC;
             ''').show(200)